.details {
  padding-top: 4rem;
}
.header {
    position: relative;
}

.details .is-flex {
  padding-top: 4rem;
}

.details .lead {
  padding: 1rem;
  color: rgba(184, 255, 250, 0.7);
      background-color: rgba(0, 0, 0, 0.6);
}
.details h1 {
  color: rgba(184, 255, 250, 0.7);
      //background-color: rgba(0, 0, 0, 0.6);
}
.detailstopphoto {
  //height: 175px;
  background: url("/images/27197782485_dac412efd5_o_V3.jpg") no-repeat center center fixed;
  //no-repeat center center fixed
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}



.instructions {
  //color: rgba(184, 255, 250, 0.7);
      //background-color: rgba(0, 0, 0, 0.6);
      //background-image: none;
    //position: relative;
    padding-left: 4rem;
    //left: 0; top: 0; right: 0; bottom: 0;
}
.col-md-6 {
  //width: 50%;
}
#detail01 {
  width: 100%;
  //color: rgba(184, 255, 250, 0.7);
  position: relative;
  float: left;
  padding: 1rem;
}
#detail02 {
  width: 100%;
  //color: rgba(184, 255, 250, 0.7);
  position: relative;
  float: right;
  padding: 1rem;
}
.screenshotsweb .box {
  background: none;
}
// style="width:20%"
