.post-tag {
color: rgba(207, 202, 247, 1);
//background-color: rgba(20, 13, 84, 0.3);
position: relative;
text-align: center;
//display:inline-block;
margin: 0rem 2rem 0rem 1rem;
//line-height: 1;
white-space: nowrap;

}
.post-text {
width: 100%;
background-color: rgba(8, 6, 35, 0.6);
border: .5px solid;
border-radius: 5px;
//padding: 0px 0px 0px 110px:
}
