
.header {
    position: relative;
}
.capstone {
  //padding-top: 2rem;
}

.instructions {
  color: rgba(184, 255, 250, 0.7);
      background-color: rgba(0, 0, 0, 0.6);
      //background-image: none;
    //position: relative;
    margin-left: 4rem;
    //left: 0; top: 0; right: 0; bottom: 0;
}

#detail01 {
  padding: 4rem;
}
.screenshotsweb .box {
  background: none;
}
